[package]
name = "graphcast-sdk"
version = "0.0.1"
edition = "2021"
authors = ["GraphOps (axiomatic-aardvark, hopeyen)"]
description="SDK to build Graphcast Radios"
license="Apache-2.0"
repository="https://github.com/graphops/graphcast-sdk"
keywords=["graphprotocol", "gossip network", "sdk"]
categories=["network-programming", "web-programming::http-client"]

[dependencies]
waku = { package = "waku-bindings", git = "https://github.com/waku-org/waku-rust-bindings", rev="0fb4e2e" }
slack-morphism = { version = "1.4", features = ["hyper", "axum"] }
prost = "0.11"
once_cell = "1.15"
chrono = "0.4"
serde = "1.0.147"
serde_json = "1.0.87"
tokio = {version = "1.1.1", features = ["full"]}
anyhow = "1.0.39"
graphql_client = "0.9.0"
serde_derive = "1.0.114"
reqwest = {version = "0.11.0", features = ["json"]}
ethers = "1.0.0"
ethers-contract = "1.0.0"
ethers-core = "1.0.0"
ethers-derive-eip712 = "1.0.0"
colored = "2.0.0"
partial_application = "0.2.1"
num-bigint = "0.4.3"
num-traits = "0.2.15"
lazy_static = "1.4.0"
thiserror = "1.0.30"
secp256k1 = "0.25.0"
data-encoding = "2.3.3"
url = "2.3.1"
rsb_derive = "0.5.1"
dotenv = "0.15.0"
tracing = "0.1"
tracing-subscriber = "0.3"

[[example]]
name = "ping-pong"
path = "examples/ping-pong/src/main.rs"
crate-type = ["bin"]

[[bin]]
name = "rect"
path = "src/records_to_tree.rs"
